<ion-view view-title="Star Wars API">
  <ion-content>
    <form>
      <label class="item item-input item-select">
        <div class="input-label">
          Search profile
        </div>
        <select ng-model="dataform.choice">
          <option value="1">Luke</option>
          <option value="2">C-3PO</option>
          <option value="3">R2-D2</option>
          <option value="4">Darth Vader</option>
          <option value="5">Leia Organa</option>
        </select>
      </label>
      <button class="button button-block button-calm" ng-click="execute()">Search</button>
    </form>

    <div class="list">
      <div class="item item-divider">
        Name
      </div>
      <a class="item" href="#">
        {{name}}
      </a>
      <div class="item item-divider">
        Height
      </div>
      <a class="item" href="#">
        {{height}}
      </a>
      <div class="item item-divider">
        Mass
      </div>
      <a class="item" href="#">
        {{mass}}
      </a>
      <div class="item item-divider">
        Hair Color
      </div>
      <a class="item" href="#">
        {{hair_color}}
      </a>
      <div class="item item-divider">
        Skin Color
      </div>
      <a class="item" href="#">
        {{skin_color}}
      </a>
      <div class="item item-divider">
        Eye Color
      </div>
      <a class="item" href="#">
        {{eye_color}}
      </a>
    </div>
  </ion-content>
</ion-view>
